
ion-view

  ion-nav-bar.bar.nav-title-slide-ios
    ion-nav-title Home

    ion-nav-buttons(side='right')
      button.button.button-clear(ng-click='scanCode()')
        i.fa.fa-qrcode.button-qr

  ion-content(padding="true")

    .card
      .item.item-divider
        | Barcode
      .item.item-text-wrap
        | {{barcode}}

    .card
      .item.item-divider
        | Storage
      .item.item-text-wrap
        button.button.button-primary.button-block(ng-click='add({test: "test"})')
          | Add test
        button.button.button-primary.button-block(ng-click='getAll()')
          | Retrieve
        button.button.button-primary.button-block(ng-click='removeAll()')
          | Remove all

        ul.list
          a.item.item-avatar(ng-repeat="thing in things")
            p {{thing}}


    .card
      .item.item-divider
        | Update
      .item.item-text-wrap

        button.button.button-primary.button-block(ng-click='checkForUpdates()')
          | Check for updates
        button.button.button-stable.button-block.button-pulse(ng-if='hasUpdate', ng-click='doUpdate()')
          | Download update

        p {{updateStatus}}


    .card
      .item.item-divider
        | Position
      .item.item-text-wrap

        button.button.button-primary.button-block(ng-click='getPosition()')
          | Update

        p {{position}}



    .card
      .item.item-divider
        | Verizon :)
      .item.item-text-wrap
        | {{appVerion}}
