
ion-view.login-bg

  ion-content(scroll="false")

    .barrier-bg
      //h1 Enter Passcode
      form.number-pad
        a.number(ng-click="add('1')")
        span.number-push 1
        a.number(ng-click="add('2')")
        span.number-push 2
        a.number(ng-click="add('3')")
        span.number-push 3
        a.number(ng-click="add('4')")
        span.number-push 4
        a.number(ng-click="add('5')")
        span.number-push 5
        a.number(ng-click="add('6')")
        span.number-push 6
        a.number(ng-click="add('7')")
        span.number-push 7
        a.number(ng-click="add('8')")
        span.number-push 8
        a.number(ng-click="add('9')")
        span.number-push 9
        a.number(ng-click="back()")
        span.number-push
          i.ion-arrow-left-c
        a.number(ng-click="add('0')")
        span.number-push 0
        a(href="", ng-click='touchId()', ng-show="touchIdSupported")
          img.touchid(src="img/touchid.png")
        span.entry-illustration.first-entry(ng-class="{true: 'entry-active', false: ''}[pin.length > 0]")
        span.entry-illustration.second-entry(ng-class="{true: 'entry-active', false: ''}[pin.length > 1]")
        span.entry-illustration.third-entry(ng-class="{true: 'entry-active', false: ''}[pin.length > 2]")
        span.entry-illustration.forth-entry(ng-class="{true: 'entry-active', false: ''}[pin.length > 3]")
