
ion-view

  ion-nav-bar.bar.bar-westwind-wohnen.nav-title-slide-ios
    ion-nav-title Klienten

  ion-content.person-list

    .spinner(ng-hide="persons.length > 0")
      ion-spinner.ios


    ul.list
      a.item.item-avatar(ng-repeat="person in persons", ng-click="selectPerson(person)")
        img(ng-src='{{person.image}}')
        .person-active(ng-show="person._id == selectedPerson._id")
        h2 {{person.firstname}} {{person.name}}
        p {{person.addresses[0].street}} {{person.addresses[0].houseNo}}, {{person.addresses[0].zip}} {{person.addresses[0].city}}


  ion-content.person-detail(scroll="true",
  direction="y",
  ng-class="{true: 'person-detail-active', false: ''}[selectedPerson._id.length > 0]")

    .padding
      h2 {{selectedPerson.firstname}} {{selectedPerson.name}}
      p {{selectedPerson.addresses[0].street}} {{selectedPersonp.addresses[0].houseNo}}
      p {{selectedPerson.addresses[0].zip}} {{selectedPerson.addresses[0].city}}

    //.map-wrapper
    ui-gmap-google-map(center='map.center', zoom='map.zoom')
      ui-gmap-marker(idKey="marker.id", coords="marker.coords")


  ion-content.logo-wrapper(ng-class="{true: 'logo-hidden', false: ''}[selectedPerson._id.length > 0]")
    img.logo(src="img/logo_star.png")







