
ion-view

  ion-nav-bar.bar.bar-westwind-wohnen.nav-title-slide-ios
    ion-nav-title(ng-click="showThatEgg()") {{title}}

  ion-content.process-list-part-1(scroll="true",
  direction="y",
  padding="false",
  ng-class="{true: 'process-stage-1-small', false: ''}[stage1Process.id.length > 0]")


    .spinner(ng-hide="processes.length > 0")
      ion-spinner.ios

    ul.list
      a.item(ng-repeat='item in processes | filter: filterStage1',
      ng-click="setStage1Process(item)")
        .process-active(ng-show="item.id == stage1Process.id")
        .process-number {{item.number}}
        .process-name {{item.title}}

  ion-content.process-list-part-2(scroll="true",
  direction="y",
  padding="false",
  ng-class="{true: 'process-stage-2-small', false: ''}[stage2Process.id.length > 0]")

    ul.list
      a.item(ng-repeat='item in processes | filter: filterStage2',
      ng-click="setStage2Process(item)")
        .process-active(ng-show = "item.id == stage2Process.id")
        .process-number {{item.number}}
        .process-name {{item.title}}

  ion-content.process-detail(scroll="true",
  direction="y",
  padding="true",
  ng-class="{true: 'process-detail-active', false: ''}[stage2Process.id.length > 0]")

    h3 {{stage2Process.title}}

    .card
      .item.item-divider
        | Vorbereitung
      .item.item-text-wrap
        | Das muss man machen!

    .card
      .item.item-divider
        | Ausführung
      .item.item-text-wrap
        | Das muss man machen!

    .card
      .item.item-divider
        | Kontrolle
      .item.item-text-wrap
        | Das muss man machen!

  ion-content.logo-wrapper(ng-class="{true: 'logo-hidden', false: ''}[stage2Process.id.length > 0]")
    img.logo(src="img/logo_star.png")
    img.egg(src="img/egg1.png", ng-class="{true: 'showegg', false: ''}[showEgg]")



    //ul.list
      a.item(ng-repeat='item in items') {{item.id}}
