ion-tabs.tabs-icon-left

    ion-tab(title='Home', icon='icon ion-home', href='#/tab/home')
      ion-nav-view(name='home-tab')

    ion-tab(title='Klienten', icon='icon ion-person-stalker', href='#/tab/person')
      ion-nav-view(name='person-tab')

    ion-tab(title='Prozesse', icon='icon ion-merge', href='#/tab/process')
      ion-nav-view(name='process-tab')


