doctype html
html(ng-app='westwind')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title Westwind
    link(href='lib/ionic/css/ionic.css', rel='stylesheet')
    link(href='lib/fontawesome/css/font-awesome.min.css', rel='stylesheet')
    link(href='css/login.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')

    script(src='lib/lodash/dist/lodash.js')
    //
      IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
      <link href="css/ionic.app.css" rel="stylesheet">
    // ionic/angularjs js
    script(src='lib/ionic/js/ionic.bundle.js')
    script(src='lib/ionic-platform-web-client/dist/ionic.io.bundle.js')
    script(src='lib/angular-simple-logger/dist/angular-simple-logger.js')
    script(src='lib/angular-google-maps/dist/angular-google-maps.js')
    script(src='js/mqttws31.js')
    script(src='lib/ngstorage/ngStorage.js')
    script(src='lib/ngCordova/dist/ng-cordova.js')
    //script(src='//maps.googleapis.com/maps/api/js?sensor=false')

    // cordova script (this will be a 404 during development)
    script(src='cordova.js')
    // your app's js
    // script(src='js/jquery-2.2.0.min.js')
    script(src='js/app.js')

  body.platform-ios
    // ALL VIEW STATES LOADED IN HERE
    ion-nav-view





