a {
  text-decoration: none;
  color: #dfffff;
}
ion-view.login-bg {
  heigth: 100%;
}
ion-view.login-bg ion-content {
  background: linear-gradient(to bottom right, #019df2, #79b720);
  height: 100%;
}
ion-view.login-bg .scroll {
  heigth: 100%;
  min-height: 100%;
}
.barrier-bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.1);
  z-index: 1;
}
.entry-illustration {
  width: 20px;
  height: 20px;
  position: absolute;
  border: 1px solid #dfffff;
  border-radius: 20px;
  transition: background-color 500ms;
  top: 0;
  left: 0;
}
.entry-illustration:last-of-type {
  margin-right: 0px;
}
.first-entry {
  top: 0px;
  left: 40px;
}
.second-entry {
  top: 0px;
  left: 100px;
}
.third-entry {
  top: 0px;
  left: 160px;
}
.forth-entry {
  top: 0px;
  left: 220px;
}
.number {
  opacity: 0;
  position: absolute;
  width: 80px;
  height: 80px;
}
.number:nth-child(1) {
  top: 60px;
  left: 0px;
}
.number:nth-child(3) {
  top: 60px;
  left: 100px;
}
.number:nth-child(5) {
  top: 60px;
  left: 200px;
}
.number:nth-child(7) {
  top: 160px;
  left: 0px;
}
.number:nth-child(9) {
  top: 160px;
  left: 100px;
}
.number:nth-child(11) {
  top: 160px;
  left: 200px;
}
.number:nth-child(13) {
  top: 260px;
  left: 0px;
}
.number:nth-child(15) {
  top: 260px;
  left: 100px;
}
.number:nth-child(17) {
  top: 260px;
  left: 200px;
}
.number:nth-child(19) {
  top: 360px;
  left: 0px;
}
.number:nth-child(21) {
  top: 360px;
  left: 100px;
}
.number:nth-child(23) {
  top: 360px;
  left: 200px;
}
.number:active + .number-push {
  background-color: #dfffff;
  color: #019df2;
}
input {
  cursor: pointer;
}
.number-pad {
  width: 280px;
  position: absolute;
  text-align: center;
  padding-top: 60px;
  left: 50%;
  margin-left: -140px;
  top: 50%;
  margin-top: -240px;
  z-index: 2;
  color: #dfffff;
}
.touchid {
  width: 80px;
  height: 80px;
}
.number-push {
  width: 80px;
  height: 80px;
  float: left;
  border-radius: 100%;
  border: 1px solid #dfffff;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 35px;
  text-align: center;
  padding-top: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transition: background-color 300ms, color 300ms;
}
.number-push:active {
  background-color: #dfffff;
  color: #019df2;
}
.number-push:active a {
  color: #019df2;
}
.number-push:after {
  display: block;
  font-size: 0.2em;
  position: relative;
  top: 5px;
}
.number-push:nth-child(4):after {
  content: "A B C";
}
.number-push:nth-child(6) {
  margin-right: 0;
}
.number-push:nth-child(6):after {
  content: "D E F";
}
.number-push:nth-child(8):after {
  content: "G H I";
}
.number-push:nth-child(10):after {
  content: "J K L";
}
.number-push:nth-child(12) {
  margin-right: 0;
}
.number-push:nth-child(12):after {
  content: "M N O";
}
.number-push:nth-child(14):after {
  content: "P Q R S";
}
.number-push:nth-child(16):after {
  content: "T U V";
}
.number-push:nth-child(18) {
  margin-right: 0;
}
.number-push:nth-child(18):after {
  content: "W X Y Z";
}
.entry-active {
  background-color: #dfffff;
}
