
a
  text-decoration none
  color #dfffff

ion-view.login-bg
  heigth 100%

  ion-content
    background: linear-gradient(to bottom right, rgb(1, 157, 242), rgb(121, 183,32));
    height 100%

  .scroll
    heigth 100%
    min-height 100%

.barrier-bg
  position fixed
  left 0
  right 0
  top 0
  bottom 0
  background-color rgba(0, 0, 0, 0.1)
  z-index 1

.entry-illustration
  width 20px
  height 20px
  position absolute
  border 1px solid #dfffff
  border-radius 20px
  transition background-color 500ms
  top 0
  left 0
  &:last-of-type
    margin-right 0px


.first-entry
  top 0px
  left 40px

.second-entry
  top 0px
  left 100px

.third-entry
  top 0px
  left 160px

.forth-entry
  top 0px
  left 220px

firstTop = 60px;
numberHeight = 80px;
numberWidth = 80px;
numberRightMargin = 20px;
numberBottomMargin = 20px;
secondRowLeft = numberWidth + numberRightMargin
thirdRowLeft = ( 2 * numberWidth) + ( 2 * numberRightMargin)
totalNumberHeight = numberHeight + numberBottomMargin
totalNumberWidth = numberWidth + numberRightMargin
numpadWidth = (3 * totalNumberWidth) - numberRightMargin

.number
  opacity 0
  position absolute
  width numberWidth
  height numberHeight
  &:nth-child(1)
    top firstTop
    left 0px
  &:nth-child(3)
    top firstTop
    left secondRowLeft
  &:nth-child(5)
    top firstTop
    left thirdRowLeft
  &:nth-child(7)
    top firstTop + totalNumberHeight
    left 0px
  &:nth-child(9)
    top firstTop + totalNumberHeight
    left secondRowLeft
  &:nth-child(11)
    top firstTop + totalNumberHeight
    left thirdRowLeft
  &:nth-child(13)
    top firstTop + ( 2 * totalNumberHeight)
    left 0px
  &:nth-child(15)
    top firstTop + ( 2 * totalNumberHeight)
    left secondRowLeft
  &:nth-child(17)
    top firstTop + ( 2 * totalNumberHeight)
    left thirdRowLeft
  &:nth-child(19)
    top firstTop + ( 3 * totalNumberHeight)
    left 0px
  &:nth-child(21)
    top firstTop + ( 3 * totalNumberHeight)
    left secondRowLeft
  &:nth-child(23)
    top firstTop + ( 3 * totalNumberHeight)
    left thirdRowLeft

  &:active
    & + .number-push
      background-color #dfffff
      color rgb(1, 157, 242)

input
  cursor pointer




.number-pad
  width numpadWidth
  position absolute
  text-align center
  padding-top firstTop
  left 50%
  margin-left ((((3 * totalNumberWidth) - numberRightMargin) / 2) * -1)
  top 50%
  margin-top (((((4 * totalNumberHeight) + numberBottomMargin) + firstTop) / 2 ) * -1)

  z-index 2
  color #dfffff


.touchid
  width numberWidth
  height numberHeight

.number-push
  width numberWidth
  height numberHeight
  float left
  border-radius 100%
  border 1px solid #dfffff
  margin-right 20px
  margin-bottom 20px
  cursor pointer
  font-size 35px
  text-align center
  padding-top 20px
  box-sizing border-box
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  transition background-color 300ms, color 300ms
  &:active
    background-color #dfffff
    color rgb(1, 157, 242)
    a
      color rgb(1, 157, 242)
  &:after
    display block
    font-size 0.2em
    position relative
    top 5px
  &:nth-child(4):after
    content "A B C"
  &:nth-child(6)
    margin-right 0
  &:nth-child(6):after
    content "D E F"
  &:nth-child(8):after
    content "G H I"
  &:nth-child(10):after
    content "J K L"
  &:nth-child(12)
    margin-right 0
  &:nth-child(12):after
    content "M N O"
  &:nth-child(14):after
    content "P Q R S"
  &:nth-child(16):after
    content "T U V"
  &:nth-child(18)
    margin-right 0
  &:nth-child(18):after
    content "W X Y Z"

.entry-active
  background-color #dfffff
