/* Empty. Add your own CSS if you like */
.pull-right {
  float: right;
}
.button-halfwidth {
  width: 49%;
}
.button-fullwidth {
  width: 100%;
}
.left-part {
  width: 30%;
}
.clear-button {
  font-size: 18px;
}
.clear-button:before {
  color: #aaa;
  font-size: 18px;
  padding-top: 1px;
}
.clear-button:after {
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  content: ' ';
}
.bar-westwind-wohnen {
  background: #019df2;
}
.spinner {
  margin: auto;
  padding-top: 50px;
  width: 100%;
  text-align: center;
}
.button-qr {
  color: #000;
  padding-right: 10px;
  font-size: 25px;
  margin-top: 5px;
}
.person-list {
  background: #fff;
  transition: width 0.3s;
  position: absolute;
  width: 350px;
  border-right: 1px solid #ddd;
  border-left: 0;
}
.person-list .person-active {
  position: absolute;
  height: 100%;
  left: -1px;
  top: 0;
  width: 6px;
  background: #019df2;
  z-index: 1;
}
.person-detail {
  opacity: 0;
  position: absolute;
  width: calc(100% - personNavWidth);
  left: 350px;
  transition: opacity 0.3s;
}
.person-detail .item-input {
  border-left: none;
  border-right: none;
  border-top: none;
}
.person-detail .item-input .has-input {
  color: #019df2;
  font-size: 12px;
}
.person-detail .angular-google-map-container {
  height: 200px;
}
.person-detail-active {
  opacity: 1;
  transition: all 0.3s;
}
.process-stage-1-small {
  width: 60px !important;
}
.process-stage-1-small .item {
  height: 53px !important;
}
.process-stage-1-small .item .process-name {
  margin-left: 60px;
  transition: margin-left 0.3s;
}
.process-stage-2-small {
  width: 60px !important;
}
.process-stage-2-small .item {
  height: 53px !important;
}
.process-stage-2-small .item .process-name {
  margin-left: 60px;
  transition: margin-left 0.3s;
}
.process-list-part-1 {
  background: #fff;
  transition: width 0.3s;
  position: absolute;
  width: 350px;
  border-right: 1px solid #ddd;
  border-left: 0;
}
.process-list-part-1 .item {
  height: 53px !important;
}
.process-list-part-1 .process-number {
  text-align: right;
  padding-right: 10px;
  position: absolute;
  width: 30px;
}
.process-list-part-1 .process-name {
  margin-left: 30px;
  transition: margin-left 0.3s;
}
.process-list-part-1 .process-active {
  position: absolute;
  height: 100%;
  left: -1px;
  top: 0;
  width: 6px;
  background: #019df2;
  z-index: 1;
}
.process-list-part-2 {
  position: absolute;
  transition: width 0.3s;
  left: 60px;
  width: 290px;
  border-right: 1px solid #ddd;
  z-index: -1;
}
.process-list-part-2 .item {
  height: 53px !important;
}
.process-list-part-2 .process-number {
  text-align: right;
  padding-right: 10px;
  position: absolute;
  width: 30px;
}
.process-list-part-2 .process-name {
  margin-left: 30px;
  transition: margin-left 0.3s;
}
.process-list-part-2 .process-active {
  position: absolute;
  height: 100%;
  left: -1px;
  top: 0;
  width: 6px;
  background: #019df2;
  z-index: 1;
}
.process-detail {
  opacity: 0;
  position: absolute;
  width: calc(100% - processNavWidth);
  left: 350px;
  transition: all 0.3s;
}
.process-detail-active {
  opacity: 1;
  width: calc(100% - stage1ClosedWith - stage2ClosedWith);
  left: 120px;
  transition: all 0.3s;
}
.logo-wrapper {
  position: absolute;
  width: calc(100% - processNavWidth);
  left: 350px;
  z-index: -1;
}
.logo-wrapper .scroll {
  min-height: 100%;
}
.logo-wrapper .logo {
  opacity: 0.5;
  transition: opacity 0.3s;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 250px;
  margin-top: -125px /* Half the height */;
  margin-left: -125px /* Half the width */;
}
.logo-wrapper .egg {
  width: 150px;
  position: absolute;
  top: 100%;
  left: 75%;
  margin-left: -75px;
  transition: top 1s;
}
.logo-wrapper .showegg {
  top: calc(100% - 105px);
  transition: top 1s;
}
.logo-hidden .logo {
  opacity: 0;
  transition: opacity 0.3s;
}
