/* Empty. Add your own CSS if you like */
.pull-right{
  float: right;
}
.button-halfwidth{
  width: 49%;
}
.button-fullwidth{
  width: 100%;
}

.left-part
  width: 30%;

.clear-button
  font-size: 18px;

.clear-button:before
  color: #aaa;
  font-size: 18px;
  padding-top: 1px;


.clear-button:after {
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  content: ' ';
}

colorWohnen = rgb(1, 157, 242)

.bar-westwind-wohnen
  //color white
  background colorWohnen

.spinner
  //position absolute
  margin auto
  padding-top 50px
  width 100%
  text-align center


// Home

.button-qr
  color black
  padding-right 10px
  font-size 25px
  margin-top 5px

// person

personNavWidth = 350px

.person-list
  background white
  transition width 0.3s
  position absolute
  width personNavWidth
  border-right 1px solid #ddd
  border-left 0

  .person-active
    position absolute
    height 100%
    left -1px
    top 0
    width 6px
    background colorWohnen
    z-index 1


.person-detail
  opacity 0
  position absolute
  width calc(100% - personNavWidth)
  left personNavWidth
  transition opacity 0.3s

  .item-input
    border-left none
    border-right none
    border-top none

    .has-input
      color colorWohnen
      font-size 12px

  .angular-google-map-container
    height 200px

.person-detail-active
  opacity 1
  transition all 0.3s



// Processes

processNavWidth = 350px
stage1ClosedWith = 60px
stage2ClosedWith = 60px



.process-stage-1-small
  width stage1ClosedWith !important
  .item
    height 53px !important
    .process-name
      margin-left stage1ClosedWith
      transition margin-left 0.3s

.process-stage-2-small
  width stage2ClosedWith !important
  //transition-delay all 0.3s
  .item
    height 53px !important
    .process-name
      margin-left stage2ClosedWith
      transition margin-left 0.3s

.process-list-part-1
  background white
  transition width 0.3s
  position absolute
  width processNavWidth
  border-right 1px solid #ddd
  border-left 0

  .item
    height 53px !important

  .process-number
    text-align right
    padding-right 10px
    position absolute
    width 30px

  .process-name
    margin-left 30px
    transition margin-left 0.3s

  .process-active
    position absolute
    height 100%
    left -1px
    top 0
    width 6px
    background colorWohnen
    z-index 1

.process-list-part-2
  position absolute
  transition width 0.3s
  left stage1ClosedWith
  width processNavWidth - stage1ClosedWith
  border-right 1px solid #ddd
  z-index -1

  .item
    height 53px !important

  .process-number
    text-align right
    padding-right 10px
    position absolute
    width 30px

  .process-name
    margin-left 30px
    transition margin-left 0.3s


  .process-active
    position absolute
    height 100%
    left -1px
    top 0
    width 6px
    background colorWohnen
    z-index 1

.process-detail
  opacity 0
  position absolute
  width calc(100% - processNavWidth)
  left processNavWidth
  transition all 0.3s


.process-detail-active
  opacity 1
  width calc(100% - stage1ClosedWith - stage2ClosedWith)
  left stage1ClosedWith + stage2ClosedWith
  transition all 0.3s



// logo

.logo-wrapper
  position absolute
  width calc(100% - processNavWidth)
  left processNavWidth
  z-index -1

  .scroll
    min-height 100%

  .logo
    opacity 0.5
    transition opacity 0.3s
    position absolute
    top 50%
    left 50%
    width 250px
    height 250px
    margin-top -125px /* Half the height */
    margin-left -125px /* Half the width */

  .egg
    width 150px
    position absolute
    top 100%
    left 75%
    margin-left -75px
    transition top 1s

  .showegg
    top calc(100% - 105px)
    transition top 1s

.logo-hidden
  .logo
    opacity 0
    transition opacity 0.3s




